/* Moves galery */
.gallery-content {
  width: 100%;
  display: block;
  height: 300px;
  margin-right: 100px;
  background-color: #ffffff;
}
.gallery-contentAPI {
  width: 100%;
  display: block;
  height: 300px;
  margin-right: 100px;
  background-color: #ffffff;
}

.movie-itens {
  height: 280px;
  padding-bottom: 50px;
  border-radius: 5px;
}
.movie-item {
  height: 280px;
  box-shadow: #3b3b3b 0px 0px 8px;
  border-radius: 5px;
  margin-right: 5px;
}

.button-icon-next {
  position: absolute;
  top: 50%;
  right: -30px;
  transform: translateY(-50%);
  cursor: pointer;
  color: #fff;
  font-size: 30px;
  padding: 20px;
  border-radius: 50%;
  background-color: #6c6d6f;
}
.button-icon-prev {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: -100;
  transform: translateY(-50%) translateX(-50%);
  cursor: pointer;
  color: #fff;
  font-size: 30px;
  padding: 20px;
  border-radius: 50%;
  background-color: #6c6d6f;
  opacity: 50%;
  transform: translate(-50%, -50%);
}
.wrapper-img {
  display: inline;
  width: 100%;
  justify-content: space-between;
  height: 100%;
}
.cartIcon {
  position: relative;
  top: -295px;
  right: 75px;
  padding: 8px;
  cursor: pointer;
  color: #fff;
  font-size: 20px;
  border-radius: 50%;
  border: #ffffff solid 3px;
  background-color: #2a2a2a;
}
.cartIcons {
  position: relative;
  top: -275px;
  right: 70px;
  padding: 8px;
  cursor: pointer;
  color: #fff;
  font-size: 20px;
  border-radius: 50%;
  border: #ffffff solid 3px;
  background-color: #2a2a2a;
}

@media screen and (max-width: 1450px) {
  .wrapper-img {
    display: inline;
    margin: auto;
    padding-left: 10px;
  }
  .cartIcons {
    position: relative;
    top: -275px;
    right: 90px;
  }
}
