* {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}
body {
  font-family: 'Roboto', sans-serif;
  background-color: #ffffff;
  color: #141414;
  overflow-x: hidden;
  height: auto;
}
a {
  text-decoration: none;
  color: #fff;
}

/* Header / Navbar */
.header {
  width: 100%;
  font-weight: 600;
  top: 0;
  display: flex;
  justify-content: space-between;
  background: #f2f2fa;
  padding: 15px 20px;
  -webkit-transition: all 1s linear;
  transition: all 1s linear;
  margin: 0 10px;
}
.icon {
  cursor: pointer;
  color: #6c6d6f;
  padding: 8px 8px;
  border-radius: 50%;
  background: #fff;
}
.icon:hover {
  background: #6c6d6f;
  color: #fff;
}
.play-button {
  color: #6c6d6f;
  display: flex;
  padding-left: 100px;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}
.play-button :hover {
  color: rgb(163, 163, 163);
}
.nav-content {
  display: flex;
  padding-left: 100px;
  align-items: center;
}
.nav-content img {
  height: 35px;
  width: 85px;
  object-fit: cover;
  padding-left: 50px;
}
.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 5px;
  width: 100%;
  padding-right: 100px;
  height: auto;
  font-weight: 600;
  -webkit-transition: all 1s linear;
  transition: all 1s linear;
  box-shadow: 10px 1px 5px #c3c3c3;
}
.nav-item-center {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  cursor: pointer;
  color: #6c6d6f;
  background-color: #fff;
  font-weight: 600;
  font-size: 16px;
  width: 100%;

  border-bottom: #fff solid 3px;
}
.nav-item-center:hover {
  border-bottom: #db524f solid 3px;
  color: #db524f;
}
.nav-item-left {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  cursor: pointer;
  color: #6c6d6f;
  background-color: #fff;
  font-weight: 600;
  font-size: 16px;
  width: 100%;

  border-bottom: #fff solid 3px;
}
.nav-item-left:hover {
  border-bottom: #db524f solid 3px;
  color: #db524f;
}
.nav-item-right {
  margin-right: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  cursor: pointer;
  color: #6c6d6f;
  background-color: #fff;
  font-weight: 600;
  font-size: 16px;
  width: 100%;

  border-bottom: #fff solid 3px;
  border-top: none;
  border-left: none;
  border-right: none;
}
.nav-item-right:hover {
  border-bottom: #db524f solid 3px;
  color: #db524f;
}

nav a,
p,
i,
img {
  margin: 0 10px;
}
.user-account {
  display: flex;
  align-items: center;
  padding-right: 200px;
}
.user-account-content {
  display: flex;
  align-items: center;
  padding-left: 20px;
  cursor: pointer;
}
.user-account-content :hover {
  color: rgb(163, 163, 163);
}
.user-account img {
  height: 32px;
  width: 32px;
  object-fit: cover;
  border-radius: 50%;
}
.search {
  cursor: pointer;
}
.search:hover {
  color: rgb(134, 134, 134);
  border-radius: 50%;
}

/* Moves galery */
.gallery-content {
  width: 100%;
  display: block;
  height: 300px;
  margin-right: 100px;
  background-color: #ffffff;
}
.movie-itens {
  height: 280px;
  padding-bottom: 50px;
  border-radius: 5px;
}
.movie-item {
  height: 280px;
  box-shadow: #3b3b3b 0px 0px 8px;
  border-radius: 5px;
}

.button-icon-next {
  position: absolute;
  top: 50%;
  right: -30px;
  transform: translateY(-50%);
  cursor: pointer;
  color: #fff;
  font-size: 30px;
  padding: 20px;
  border-radius: 50%;
  background-color: #6c6d6f;
}
.button-icon-prev {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: -100;
  transform: translateY(-50%) translateX(-50%);
  cursor: pointer;
  color: #fff;
  font-size: 30px;
  padding: 20px;
  border-radius: 50%;
  background-color: #6c6d6f;
  opacity: 50%;
  transform: translate(-50%, -50%);
}
.wrapper-img {
  display: inline;
  width: 100%;
  justify-content: space-between;
  height: 100%;
}
.cartIcon {
  position: relative;
  top: -295px;
  right: 75px;
  padding: 8px;
  cursor: pointer;
  color: #fff;
  font-size: 20px;
  border-radius: 50%;
  border: #ffffff solid 3px;
  background-color: #2a2a2a;
}
.cartIcons {
  position: relative;
  top: -275px;
  right: 70px;
  padding: 8px;
  cursor: pointer;
  color: #fff;
  font-size: 20px;
  border-radius: 50%;
  border: #ffffff solid 3px;
  background-color: #2a2a2a;
}

/* Moves corousel */
.carousel {
  width: 100%;
  margin-top: 30px;
}
.carousel .move-carousel {
  transform: scale(1);
  box-shadow: #3b3b3b 0px 0px 8px;
  border-radius: 5px;
}
.carousel .move-carousel:hover {
  transform: scale(1.05);
}

#slick-slide-control00 {
  background-color: #272727;
  width: 20px;
  height: 5px;
  border-radius: 5px;
  margin-top: 5px;
}
#slick-slide-control01 {
  background-color: #272727;
  width: 20px;
  height: 5px;
  border-radius: 5px;
  margin-top: 5px;
}
#slick-slide-control02 {
  background-color: #272727;
  width: 20px;
  height: 5px;
  border-radius: 5px;
  margin-top: 5px;
}
#slick-slide-control00:hover {
  background-color: #3b3b3b;
}
#slick-slide-control01:hover {
  background-color: #3b3b3b;
}
#slick-slide-control02:hover {
  background-color: #3b3b3b;
}
/* sections */
.title-section {
  margin-top: 60px;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 700;
  color: #141414;

  padding-bottom: 10px;
}
.section-wrapper {
  margin-left: 60px;
}

@media only screen and (max-width: 768px) {
  .carousel {
    width: 100%;
    height: 100%;
  }
}
