* {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}
body {
  font-family: 'Roboto', sans-serif;
  background-color: #ffffff;
  color: #141414;
  overflow-x: hidden;
  height: auto;
}
a {
  text-decoration: none;
  color: #fff;
}
.user {
  color: #2a2a2a;
}

/* Header / Navbar */
.header {
  width: 100%;
  font-weight: 600;
  top: 0;
  display: flex;
  justify-content: space-between;
  background: #f2f2fa;
  padding: 15px 20px;
  -webkit-transition: all 1s linear;
  transition: all 1s linear;
  margin: 0 10px;
}

.header .navbar {
  position: absolute;
  top: 100%;
  right: -100%;
  background: #fff;
  width: 30rem;
  height: calc(100vh - 9.5rem);
}

.header .navbar.active {
  right: 0;
}

.header .navbar a {
  color: var(--black);
  display: block;
  margin: 1.5rem;
  padding: 0.5rem;
  font-size: 2rem;
}
.icon {
  cursor: pointer;
  color: #6c6d6f;
  padding: 8px 8px;
  border-radius: 50%;
  background: #fff;
}
.icon:hover {
  background: #6c6d6f;
  color: #fff;
}
.play-button {
  color: #6c6d6f;
  display: flex;
  padding-left: 100px;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}
.play-button :hover {
  color: rgb(163, 163, 163);
}
.nav-content {
  display: flex;
  padding-left: 100px;
  align-items: center;
}
.nav-content .navContentIcons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 20px;
}
.nav-content img {
  height: 35px;
  width: 85px;
  object-fit: cover;
  padding-left: 50px;
}
.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 5px;
  width: 100%;
  padding-right: 100px;
  height: auto;
  font-weight: 600;
  -webkit-transition: all 1s linear;
  transition: all 1s linear;
  box-shadow: 10px 1px 5px #c3c3c3;
}

.nav-item-center {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  cursor: pointer;
  color: #6c6d6f;
  background-color: #fff;
  font-weight: 600;
  font-size: 16px;
  width: 100%;

  border-bottom: #fff solid 3px;
}
.nav-item-center:hover {
  border-bottom: #db524f solid 3px;
  color: #db524f;
}
.nav-item-left {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  cursor: pointer;
  color: #6c6d6f;
  background-color: #fff;
  font-weight: 600;
  font-size: 16px;
  width: 100%;

  border-bottom: #fff solid 3px;
}
.nav-item-left:hover {
  border-bottom: #db524f solid 3px;
  color: #db524f;
}
.nav-item-right {
  margin-right: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  cursor: pointer;
  color: #6c6d6f;
  background-color: #fff;
  font-weight: 600;
  font-size: 16px;
  width: 100%;

  border-bottom: #fff solid 3px;
  border-top: none;
  border-left: none;
  border-right: none;
}
.nav-item-right:hover {
  border-bottom: #db524f solid 3px;
  color: #db524f;
}

nav a,
p,
i,
img {
  margin: 0 10px;
}
.user-account {
  display: flex;
  align-items: center;
  padding-right: 200px;
}
.user-account-content {
  display: flex;
  align-items: center;
  padding-left: 20px;
  cursor: pointer;
}
.user-account-content :hover {
  color: rgb(163, 163, 163);
}
.user-account img {
  height: 32px;
  width: 32px;
  object-fit: cover;
  border-radius: 50%;
}
.search {
  cursor: pointer;
}
.search:hover {
  color: rgb(134, 134, 134);
  border-radius: 50%;
}
/* sections */
.title-section {
  margin-top: 60px;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 700;
  color: #141414;

  padding-bottom: 10px;
}
.section-wrapper {
  margin-left: 60px;
}

@media only screen and (max-width: 2100px) and (min-width: 500px) and (orientation: landscape) {
  .nav-content .navbarMenu {
    display: none;
  }
}

@media only screen and (max-width: 760px) and (min-width: 600px) {
  .navContentIcons {
    display: none;
  }
}

@media screen and (max-width: 430px) and (max-height: 900px) and (orientation: portrait) {
  body {
    overflow-x: hidden;
    height: auto;
    width: 100%;
  }
  .nav-content .navbarMenu {
    margin-left: 70px;
  }

  .nav-content .navbarMenu .iconNavbar {
    font-size: 20px;
  }
  .nav-content .navbarMenu:hover {
    color: #db524f;
  }
  .nav-content .navbarMenu:active {
    color: #db524f;
  }
  .nav-content .navbarMenu:focus {
    color: #db524f;
  }

  .play-button {
    display: none;
  }
  .play-button {
    display: none;
  }
  .user-account {
    display: none;
  }
  .navContentIcons {
    display: none;
  }

  .icon-button {
    display: none;
  }

  .nav-item-left {
    margin-left: 60px;
  }
  #start {
    margin-left: -20px;
  }
}
